In [22]:
import pulp
import numpy as np
import pandas as pd

In [23]:
bike_data = pd.read_csv('metro-bike-share-trip-data.csv')
bike_data.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,One Way,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
import pandas as pd
import datetime as dt
#import matplotlib.pyplot as plt

df1 = pd.read_csv('metro-bike-share-trips-2019-q2.csv')
df2 = pd.read_csv('metro-bike-share-trips-2019-q1.csv')

frames = [df1, df2]
df = pd.concat(frames)
df.reset_index(inplace = True, drop = True)
df['start_t'] = pd.to_datetime(df['start_time']).dt.time
df['end_t'] = pd.to_datetime(df['end_time']).dt.time
longbeach = df[df['end_station'].isin([4125, 4126, 4127, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4435]) \
             & df['start_station'].isin([4125, 4126, 4127, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4435])]

In [64]:
morning_out = longbeach.loc[longbeach['start_t'].between(dt.time(8,0), dt.time(9,0))]
morning_in = longbeach.loc[longbeach['end_t'].between(dt.time(7,0), dt.time(8,0))]

evening_out = longbeach.loc[longbeach['start_t'].between(dt.time(20,0), dt.time(21,0))]
evening_in = longbeach.loc[longbeach['end_t'].between(dt.time(19,0), dt.time(20,0))]

In [65]:
len(morning_in)

16

In [66]:
len(morning_out)

72

In [67]:
len(evening_in)

253

In [68]:
len(evening_out)

146

In [79]:
m_in = pd.DataFrame(morning_in.groupby(['end_station']).size())
m_in.reset_index(inplace=True)
m_in.columns=['station','bike_count']

In [80]:
m_out = pd.DataFrame(morning_out.groupby(['start_station']).size())
m_out.reset_index(inplace=True)
m_in.columns=['station','bike_count']

In [81]:
e_in = pd.DataFrame(evening_in.groupby(['end_station']).size())
e_in.reset_index(inplace=True)
e_in.columns=['station','bike_count']

In [92]:
e_out = pd.DataFrame(evening_out.groupby(['start_station']).size())
e_out.reset_index(inplace=True)
e_out.columns=['station','bike_count']

In [93]:
len(m_in)

7

In [94]:
len(m_out)

9

In [95]:
len(e_in)

11

In [96]:
len(e_out)

11

In [99]:
data_frames = [m_in, m_out, e_in, e_out]
e_out

    station  bike_count
0      4125           3
1      4126          26
2      4127           5
3      4129          22
4      4130          14
5      4131          12
6      4132          36
7      4133          10
8      4134           2
9      4135          13
10     4136           3

In [100]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['station'],
                                            how='outer'), data_frames).fillna('void')

KeyError: 'station'